.root {
  text-align: center;
}

.list {
  margin: 0;
  padding-left: 0;
  padding-top: 10px;
  list-style: none;
  display: inline-flex;
  flex-direction: row;
}

.vertical .list {
  flex-direction: row;
  padding: 20px 0 0;

  @media (min-width: 1000px) {
    flex-direction: column;
  }
}

.noIndentation {
  .list {
    padding: 10px 5px;
  }
}

.item {
  padding: 8px;
}

.link {
  display: block;
}

.icon {
  display: block;
  fill: #7f7f7f;
  width: 25px !important;
  height: 25px !important;
}

.overflowMenu {
  .list {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }

  .icon {
    fill: #000;
    height: 35px !important;
    width: 35px !important;

    @media (max-width: 768px) {
      height: 25px !important;
      width: 25px !important;
    }
  }

  .item {
    padding: 0;
  }
}

.journalPostVariation {
  border-top: 1px solid #000;
}
